h2 {
  text-align: center;
}

li {
  list-style: none;
}
.listItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 0 50px;
}
.footer {
  width: 100%;
  height: 20%;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
}
.counter {
  display: flex;
  justify-content: space-between;
}
